<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>
</head>
<body>

    <h1>{{ post.title }}</h1>
    <p>{{ post.content|e }}</p> 

    <h3>Comments:</h3>
    <ul>
        {% for comment in post.comments %}
            <li>{{comment.content|e}}
                <form method="POST" action="{{ url_for('delete_comment', comment_id=comment.id) }}" style="display: inline;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit">Delete Comment</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('home', post_id=post.id) }}">Go Back</a>
    
    <h3>Add a Comment:</h3>
<form method="POST" action="{{ url_for('add_comment', post_id=post.id) }}">
    {{ comment_form.hidden_tag() }}
    {{ comment_form.comment_content.label }} {{ comment_form.comment_content(size=20) }}<br>
    <input type="submit" value="Add Comment">
</form>

</body>
</html>
